*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
.App{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
header h1{
	margin: 50px 10px 25px 0px;
	text-align: center;
	font-size: 50px;
}
header p{
	font-size: 20px;
}
.Tabs{
	background: lightblue;
	width: 100%;
    display: flex;
}
.Tabs > div{
	height: 100px;
	width: 100px;
	flex: 1;


}
.Tab1{
	background:red; 
}
.Tab2{
	background:black; 
}
.Tab3{
	background:white; 
}
.Tab4{
	background:gray; 
}
.Tab5{
	background:green; 
}
.Tab6{
	background:purple;
}
